* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
.form-head {
  margin: 80px auto 0;
  width: 1228px;
}
.form-head .form-head__heading {
  font-size: 24px;
  font-weight: 500;
  color: #000;
}
.form-head .form-head__text {
  position: relative;
  margin-top: 20px;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  color: #333;
  line-height: normal;
}
.form-head .form-head__text::before {
  content: " ";
  display: inline-block;
  position: absolute;
  left: -20px;
  top: 9px;
  width: 16px;
  height: 2px;
  background: #F19932;
  border-radius: 2px;
}
.form-body {
  margin: 0 auto ;
  width: 1240px;
}
.form-body .form-body__heading {
  margin-top: 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}
.alert {
  display: inline-flex;
  margin-top: 20px;
  padding: 20px 20px 20px 100px;
  background: rgba(251, 217, 44, 0.16);
}
.alert .alert__main {
  color: #333333;
}
.alert .alert__main .alert__heading {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: normal;
}
.alert .alert__main .alert__text {
  margin-top: 12px;
  font-size: 10px;
}
.alert .alert__icon {
  background: url("../img/attention.svg");
  width: 20px;
  height: 18px;
  margin-top: 16px;
  margin-left: 20px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form .form__group {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-content: space-between;
  width: 400px;
  margin-top: 20px;
}
.form .form__group .form__control {
  width: 100%;
  height: 50px;
  background: #F8F7FA;
  border-radius: 2px;
  font-size: 14px;
  color: #000;
  padding: 25px 12px 10px 12px;
  border: 2px solid transparent;
}
.form .form__group .form__control.form__control_textarea {
  height: 122px;
  resize: none;
}
.form .form__group .form__control:focus {
  border: 2px solid rgba(47, 128, 237, 0.75) !important;
  background: #FFFFFF;
}
.form .form__group .form__control:focus + .form__label {
  color: #2F80ED;
  background: #FFFFFF;
  border: 2px solid rgba(47, 128, 237, 0.75);
  border-bottom: 0;
}
.form .form__group.form__group_textarea {
  width: 100%;
}
.form .form__group.form__group_error .form__label {
  border: 2px solid #F5BCBC;
  border-bottom: 0;
  color: #F64C4C;
}
.form .form__group.form__group_error .form__control {
  border: 2px solid #F5BCBC;
}
.form .form__group.form__group_error .form__error {
  background: #F5BCBC;
  border-radius: 0 0 2px 2px;
  font-size: 11px;
  color: #800404;
  padding: 2px 14px;
}
.form .form__label {
  position: absolute;
  padding: 8px 0 0 12px;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
  background: #F8F7FA;
  height: 25px;
  width: 100%;
  line-height: 11px;
  border: 2px solid transparent;
}
.form__checkbox {
  position: relative;
  padding-left: 26px;
  padding-right: 8px;
  font-size: 14px;
  line-height: 18px;
  color: #182C40;
  cursor: pointer;
  border-radius: 2px;
}
.form__checkbox:hover {
  background: rgba(47, 128, 237, 0.05);
}
.form__checkbox:hover .form__checkmark {
  background: url("../img/checkmark.svg");
  border: 0;
}
.form__checkbox input {
  width: 0;
}
.form__checkbox input:checked + .form__checkmark {
  background: url("../img/checkmark.svg");
  border: 0;
}
.form__checkbox .form__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #333;
  border-radius: 2px;
}
.form-action {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 145px;
  display: flex;
  justify-content: space-between;
}
.form-action .form-action__left {
  display: flex;
}
.form-action .btn_drafts {
  margin-right: 0;
}
.btn {
  outline: 0;
  cursor: pointer;
  display: inline-flex;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  padding: 0 20px;
  border: 2px solid transparent;
  border-radius: 2px;
  margin-right: 20px;
}
.btn.btn_primary {
  background: #2F80ED;
  color: #FFF;
}
.btn.btn_primary:hover {
  background: #2974D9;
}
.btn.btn_primary:focus {
  background: #2F80ED;
  border: 2px solid rgba(47, 128, 237, 0.5);
}
.btn.btn_primary:active {
  background: #236ACB;
}
.btn.btn_primary:disabled {
  background: #236ACB;
}
.btn.btn_secondary {
  background: #E9E9E9;
  color: #333333;
}
.btn.btn_secondary:hover {
  background: #DBDBDB;
}
.btn.btn_secondary:focus {
  background: #E9E9E9;
  border: 2px solid #DBDBDB;
}
.btn.btn_secondary:active {
  background: #C4C4C4;
}
.btn.btn_secondary:disabled {
  background: #C4C4C4;
}
/*# sourceMappingURL=styles.css.map */